body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(#8dcc7e,white,#8dcc7e);
 /* background-image: url(/calc2.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;*/
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  color: rgb(253, 252, 252);
  background-color: #8dcc7e;
  display: flex;
  width: 220px;
  font-size: 28px;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  border-radius:0px 10px 0px 0px;
  overflow: hidden;
}
.calc {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-color:white;
  box-shadow: 2px 2px 5px #a7a4a1;

  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 55px;
  height: 55px;
   border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.15s;
  background-color: #fffdfd;
  box-shadow: 2px 2px 5px #bbbab9;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  transition: 0.15s;
  box-shadow: 1px 1px 5px black;
}
#add, #subtract, #multiply, #divide  {
  color: white;
  background-color: #8dcc7e;
}
#clear, #equal, #dot {
  color: white;
  background-color: #8dcc7e;
  
}
#clear {
  border-radius: 50%;
  border-radius: 10px 0px 0px 0px;
}
#divide {
  border-radius: 0px 0px 10px 0px;
}
.zero {
  border-radius: 0px 0px 0px 10px;
}